<?xml version="1.0"?>
<config>
    <tabs>
        <tonyh>
            <label>TonyH Extensions</label>
            <sort_order>100</sort_order>
        </tonyh>
    </tabs>
    <sections>
        <TonyH>
            <label>Master Frontend Password</label>
            <tab>tonyh</tab>
            <frontend_type>text</frontend_type>
            <sort_order>500</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general>
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <password>
                            <label>Master Password</label>
                            <comment>This is the password you want to use to log into the shop frontend</comment>
                            <frontend_type>password</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </password>
                    </fields>
                </general>
            </groups>
        </TonyH>
    </sections>
</config>           