<?xml version="1.0"?>
<config>
    <modules>
        <TonyH_AutoShipping>
            <version>1.0.1</version>
        </TonyH_AutoShipping>
    </modules>
    <global>
        <models>
            <tonyh_autoshipping>
                <class>TonyH_AutoShipping_Model</class>
            </tonyh_autoshipping>
        </models>
    </global>
    <frontend>
        <events>
            <checkout_cart_update_items_after>
                <observers>
                    <tonyh_autoshipping_observer>
                        <type>singleton</type>
                        <class>tonyh_autoshipping/observer</class>
                        <method>addShipping</method>
                    </tonyh_autoshipping_observer>
                </observers>
            </checkout_cart_update_items_after>
            <checkout_cart_product_add_after>
                <observers>
                    <tonyh_autoshipping_observer>
                        <type>singleton</type>
                        <class>tonyh_autoshipping/observer</class>
                        <method>addShipping</method>
                    </tonyh_autoshipping_observer>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_remove_item>
                <observers>
                    <tonyh_autoshipping_observer>
                        <type>singleton</type>
                        <class>tonyh_autoshipping/observer</class>
                        <method>addShipping</method>
                    </tonyh_autoshipping_observer>
                </observers>
            </sales_quote_remove_item>
        </events>
    </frontend>
</config>